@page "/ProfilerParser"

@using System.Linq;
@using System.IO

@inject HttpClient Http

<h3>Profiler</h3>

<div>
    <label>Show only highlighted: </label>
    <input type="checkbox" checked=@onlyHighlited @onchange="CheckboxClicked" />
</div>
<div>
    <label>High Ms value: </label>
    <input type="text" id="highMs" name="highMs" @oninput="HighMsValueChanged" value=@highMsValue style="max-width:70px">
</div>
<div>
    <label>Upload files: </label>
    <InputFile OnChange="@LoadFiles" multiple />
</div>

<div style="float:left">
    <textarea @oninput="HandleOnChange" rows="20" cols="50">@data</textarea>
</div>

<div class="dataLines">
    @if (onlyHighlited)
    {
        @foreach (var line in highlightedLines)
        {
            <p style="color:red">@line</p>
        }
    }

    else
    {
        @foreach (var line in extractedLines)
        {
            if (highlightedLines.Contains(line))
            {
                <p style="color:red">@line</p>
            }

            else
            {
                <p>@line</p>
            }
        }
    }
</div>


@code {
    private bool onlyHighlited = true;
    private double highMsValue = 0.8;
    private string data;
    private List<string> extractedLines = new List<string>();
    private List<string> highlightedLines = new List<string>();

    private void HighlightHighMs(IEnumerable<string> data, double highMs)
    {
        Dictionary<string, (double percentage, double ms)> linesDictionary = new() { };

        try
        {
            foreach (var line in data)
            {
                var valueIndex = line.IndexOf('(');
                var percentageIndex = line.IndexOf('%');

                if (valueIndex != -1 && percentageIndex != -1 && percentageIndex >= 5)
                {
                    string value = line.Substring(valueIndex + 1, 4);
                    var isValueParsed = double.TryParse(value, out var parsedValue);

                    string percentage = line.Substring(percentageIndex - 5, 4);
                    var isPercentageParsed = double.TryParse(percentage, out var parsedPercentage);

                    if (isValueParsed && isPercentageParsed && !linesDictionary.ContainsKey(line))
                    {
                        linesDictionary.Add(line, (parsedPercentage, parsedValue));
                    }
                }
            }
        }

        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
        }


        var list = new List<string>();
        foreach (var line in linesDictionary.OrderByDescending(x => x.Value.percentage))
        {
            if (line.Value.ms > highMs)
            {
                list.Add(line.Key);
            }
        }

        highlightedLines = list;
    }

    private List<string> GetAurasLines(List<string> extractedLines)
    {
        var data = new List<string>();

        int indexOfAuras = 1000000000;
        var lines = extractedLines.ToArray();

        for (int index = 0; index < lines.Length - 1; index++)
        {
            if (lines[index].Contains("Total time attributed to auras:"))
            {
                indexOfAuras = index;
            }

            if (index > indexOfAuras)
            {
                data.Add(lines[index]);
            }
        }

        return data;
    }

    private void HandleOnChange(ChangeEventArgs args)
    {
        var lines = args.Value.ToString().Split("\n");

        if (lines.ToList().Count > 1)
        {
            extractedLines = GetAurasLines(lines.ToList());

            HighlightHighMs(extractedLines, highMsValue);
        }
    }

    public void CheckboxClicked()
    {
        onlyHighlited = !onlyHighlited;
    }

    private void HighMsValueChanged(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value.ToString(), out var parsedValue))
        {
            highMsValue = parsedValue;

            HighlightHighMs(extractedLines, highMsValue);
        }
    }

    private Dictionary<IBrowserFile, string> loadedFiles = new Dictionary<IBrowserFile, string>();
    private bool isLoading;
    string exceptionMessage;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();
        exceptionMessage = string.Empty;

        try
        {
            foreach (var file in e.GetMultipleFiles())
            {
                using var reader =
                    new StreamReader(file.OpenReadStream());

                loadedFiles.Add(file, await reader.ReadToEndAsync());
            }

            GetDataFromFiles(loadedFiles);
            HighlightHighMs(extractedLines, highMsValue);
        }
        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
        }

        isLoading = false;
    }

    private void GetDataFromFiles(Dictionary<IBrowserFile, string> loadedFiles)
    {
        var dataList = new List<IEnumerable<string>>();

        foreach (var(file, content) in loadedFiles)
        {
            dataList.Add(GetAurasLines(content.Split("\n").ToList()));
        }

        var list = new List<string>();
        foreach(var data in dataList)
        {
            foreach(var line in data)
            {
                list.Add(line);
            }
        }

        extractedLines = list;
    }
}
